/* ver el reset */



body
/*!mejorar las imagenes!*/

.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}



.carousel-item {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.carousel-inner {


    margin-top: 20px;
}

.carousel-inner img {
    height: 100%;
    width: auto
}


/* modificar el placeholder */
.form-control {
    background-color: #f8f9fa;

}

.formulario-container {
    
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    /* width: 50%; */
}

.formulario-container div{
    background-color: #db301d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin: 20px;
} 
.formulario-container div div{
    margin: 10px;
    padding: 5px;
}

.formulario-container img{
    height: auto;
    width: auto;
}

.btn-secondary {
    margin: 30px;
}